python-dotenv
groq
AppOpener
pywhatkit
bs4
pillow
rich
requests
keyboard
cohere
googlesearch-python
selenium
mtranslate
edge-tts
PyQt5
webdriver-manager
numpy>=1.24,<3
sounddevice>=0.4.6,<0.6
elevenlabs>=1.50,<3
websockets>=13
python-dotenv>=1.0,<2